.button-bar {
	padding-top: 20px;
}

.spacer {
	padding-bottom: 20px;
}

table {
	color: white !important;
	background-color: transparent !important;
}

.select-role {
	border: 1px #ced4da solid;
	border-radius: 4px;
	padding: 8px;
	background-color: white;
	color: #747373;
	width: 50%;

}

.max-height-profile-pic-manage-users {
    max-height: 30px;
    margin: 0 0 0 0;
    width: auto;
}

/* Styles for the container */
.mt-3 {
	margin-top: 3rem;
  }
  
  /* Styles for the table header */
  .table-header, .table-row {
	display: grid;
	grid-template-columns: 50px 50px 80px 160px 80px 400px 1fr 1fr 60px 100px; /* adjust as needed */
	border-bottom: 1px solid #eee;
	padding: 8px;
	line-height: 30px; /* height of the div */;
  }

  .column-number,
  .column-id {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .column-verified {
	display: flex;
	align-items: center !important;
  }

  .column-name {
	display: flex;
	align-items: center !important;
  }

  .column-role {
	display: flex;
	align-items: center !important;
  }

  .column-avatar {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
  }

  .column-email {
	display: flex;
	align-items: center;
  }

  .column-domain {
	display: flex;
	align-items: center;
  }

  .column-status {
	display: flex;
	align-items: center;
  }

  .column-actions {
	display: flex;
	align-items: center;
  }
  
  /* Style for the profile picture */
  .max-height-profile-pic-manage-users {
	max-height: 50px; /* Adjust the max height as needed */
	border-radius: 50%; /* To make it round */
	object-fit: cover; /* Ensure the image covers the container */
  }
  
  /* Additional styles for buttons or other elements */
  /* (You may need to adjust these based on your design) */
  .button-container {
	display: flex;
	justify-content: space-between;
	gap: 8px;
  }

  .spacer {
	padding-bottom: 40px;
  }