.STL-wireframe-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center;
}

.STL-wireframe-viewer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  display: block;
  align-items: center;
  justify-content: center;
}
