REACT_APP_SERVER_URL=http://localhost/i4ware_SDK/saas-app/public
REACT_APP_SERVER_STORAGE_URL=http://localhost/i4ware_SDK/saas-app/storage
REACT_APP_DEFAULT_LANGUAGE=en
REACT_APP_PUSHER_KEY=your_pusher_key_here
REACT_APP_PUSHER_CLUSTER=your_cluster_here
REACT_APP_RECAPTCHA_SITE_KEY=your_recaptcha_site_key_here